<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "profil", alt:"Mon image", width:"533"  %>
        <h5 class="modal-title" id="exampleModalLongTitle">A propos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Après plus de 20 ans en contrôle de gestion, au sein d'une multinationale dans le secteur de la grande distribution, j'ai décidé de me reconvertir dans la data et le web développement.</p>
        <p>Ces années m'ont permis d'acquérir une forte expérience en finance et un bagage technique important sur les flux financiers, les flux logistiques, les process et systèmes d'information que j'ai pu mettre à profit en développant des outils uniques pour différents corps de métiers (Finance, Logistique, Client, Marketing, Direction).</p>
        <p>Passionné par la data, le web développement et les nouvelles technologies, j'ai décidé de changer d'environnement pour m'y consacrer pleinement. </p>
        <p>En 2019, j'ai passé le diplôme universitaire en Big Data à l'IUT René Descartes, où j'ai pu découvrir les fondamentaux du Big Data (Clustering, Classification, Machine learning, Deep learning...)</p>
        <p>Fin 2019, pour consolider mes acquis, j'ai obtenu la certification Microsoft Office Specialist (MOS) Expert Excel 2016.</p>
        <p>Ne voulant pas m'arrêter en si bon chemin, j'ai suivi début 2020 le bootcamp du Wagon, 9 semaines intensives de formation en Développement Web pour apprendre les compétences indispensables de la conception et du développement d'applications web (HTML, CSS, Boostrap, Javascript, Ruby on rails, Git, Github, Heroku, SQL, API...)</p>
        <p>Aujourd'hui, mon but est d'aider les personnes à se former, à construire des produits ou des outils performants et conviviaux. Aussi, n'hésitez pas à me contacter, je serai ravi de partager avec vous mon expérience et de trouver de nombreux intérêts communs !</p>
      </div>
     </div>
  </div>
</div>
