<p><b>From: </b><%= @contact.name %></p>
<p><b>Email: </b> <%= @contact.email %></p>
<p><b>Message: </b> <%= @contact.message %></p>


<h1>Contact#message</h1>

<p>
  <%= @greeting %>, find me in app/views/contact_mailer/message.html.erb
</p>
