
.about-container {
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  animation: 2s ease 0s 1 introInFromleft;
}

.about-content > p > button {
  background-color: transparent;
  border: 1px solid $or;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.about-content > p >  button:focus {
  outline: 3px solid gold;
}


.about-img-container {
  width: 50%;
  margin-top: 112px;
  margin-right: 56px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  flex: 0 auto;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.about-content {
  width: 50%;
}

.about-img-container > img {
  border-radius: 5px 5px 5px 5px;
}

.main-headline.main-headline--offset {
  margin-bottom: 30px;
  margin-left: -122px;
}

.main-headline {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  flex: 0 auto;
}

.main-headline__headline.left-aligned {
  text-align: left;
}

.main-headline__headline {
  display: block;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  text-align: center;
}

.main-headline__separator.left-aligned {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
}

.main-headline__separator {
  display: block;
  width: 90px;
  height: 8px;
  background-image: linear-gradient(90deg, yellow, #F6D765);
  text-align: center;
}

.p-large {
  font-size: 24px;
  line-height: 38px;
  font-weight: normal;
  text-align: justify;
}

.p-normal, .text-span-10, .text-span-11, .text-span-12, .text-span-13, .text-span-14, .text-span-15, .text-span-16, .text-span-17, .text-span-18, .text-span-21, .text-span-22, .text-span-23, .text-span-24, .text-span-6, .text-span-7, .text-span-8, .text-span-9 {
  font-weight: bold;
}

@media screen and (min-width: 1000px)  and (max-width: 1300px){
  .w-container {
    max-width: 1170px;
  }
  .main-headline__headline{
    font-size: 40px;
    line-height: 56px;
  }
  .p-large{
    font-size: 20px;
    line-height: 36px;
  }
  .p{
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 992px) {
  .about-container {
    margin-top: 16px;
    margin-bottom: 32px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .main-headline__headline {
    font-size: 32px;
    line-height: 40px;
  }
  .p-large {
    font-size: 20px;
    line-height: 36px;
  }
  .section--default {
    padding-right: 0;
    padding-left: 0;
  }
  .master-container {
    padding: 40px 72px;
  }
  .about-img-container {
    width: 50%;
    margin-top: 0;
  }
  .main-headline.main-headline--offset {
    margin-top: -250px;
    margin-bottom: 128px;
    margin-left: 56%;
  }
  .about-content {
    width: 100%;
  }
 .slide-container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .main-headline__headline {
    font-size: 30px;
  }
  .p-large {
    line-height: 32px;
  }
  .section--default {
    margin-right: 0;
    margin-left: 0;
  }
  .master-container {
    padding-right: 32px;
    padding-left: 32px;
  }
  .about-img-container {
    width: 280px;
    margin-bottom: 16px;
  }
  .main-headline.main-headline--offset {
    margin-top: -220px;
    margin-bottom: 10%;
  }
}

@media (max-width: 480px) {
  .master-container.home-vertical-height-adjust {
    padding-top: 24px;
  }
  .master-container, .top-bar {
    padding-right: 24px;
    padding-left: 24px;
  }
  .about-container {
    margin-bottom: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-img-container {
    margin-bottom: 0;
  }
  .about-img-container, .case-intro--left-box {
    width: 100%;
    margin-right: 0;
  }
  .main-headline.main-headline--offset {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 40px;
    margin-left: 0;
  }
  .main-headline__headline {
    font-size: 30px;
  }
  .main-headline__separator {
    width: 80px;
  }
  .main-headline__headline.left-aligned {
    margin-top: 81px;
  }
}

.content-wrapper {
  overflow-x: hidden;
}

