.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  animation: 1s ease-out 0s 1 navbarInFromTop;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler {
  color: $or;
  border-color: $or;
}

.navbar-toggler-icon {
  color: $or;
}

.navbar-collapse > ul {
  text-align: end;
}

@keyframes navbarInFromTop {
  0% {
    transform: translateY(-100%);

  }
  100% {
    transform: translateY(0);

  }
}

.nav-link {
    display: inline-block;
    color: $or;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $or;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
