.service-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-card {
  border: 1px solid #F6D765;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 6px 4px 1px rgba(246, 215, 101, 0.5);
  flex-basis: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 150px;
  & i {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .service-card {
    min-width: 150px;
    margin: 10px;
  }
  .service-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
